use admin
db.auth("{{ mongodb_user_admin_name  }}", "{{ mongodb_user_admin_password  }}");
rs.initiate({_id: "{{ mongodb_replication_replset }}", members: [{_id: 0, host: "{{ mongodb_login_host }}:27017"}]});
